html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* svg{
  background: 'white';
  filter: blur(3px) contrast(20);
} */


stage,
svg,
path, 
rect,
layer,
circle {
	position: fixed;
	overflow: visible;
  user-select: none;
}